<ion-view view-title="Campaign">
  <ion-nav-bar class="bar bar-header bar-clear">
    <ion-nav-buttons side="left">
      <button class="button" ng-click="doSomething()">
        I'm a button on the left of the navbar!
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ionic-content class="topm">
      <img ng-src="{{campaign.story_cover.value}}" style="width: 100%;"alt="" />
      <h1>{{campaign.story_title}}</h1>
      <p>{{campaign.story_content}}</p>
    <button type="button" name="donate">Donate</button>
  </ion-content>
</ion-view>
