<ion-view title="Title">

	<ion-content class="campaign" style="margin-top:6vh">

			<div class="list card" style="margin:0px;" ng-repeat="campaign in campaigns">
			  <div class="item item-image cp-img-cover" style="background:url({{campaign.story_cover.value}});">
					<a class="cp-title item assertive " href="#">
						<h2 class="cp-overlay">
							{{campaign.story_title}}
							<span class="item-note">Grammy</span>
							<p>
								{{campaign.story_content | limitTo: 200 }}
							</p>
							  <ul class="cp-btn-container">
									<li class="cp-btn"><button class="button  button-outline button-small button-energized">Read Story</button></li>


							  </ul>
				   		</h2>
					</a>
			  </div>
	  	</div>
  </ion-content>
</ion-view>
