

<ion-header-bar class="bar-calm">
<div class="buttons">
  <button class="button button-clear icon ion-arrow-left-c" ng-click="myGoBack()"></button>
</div>
<h1 class="title">Campiagn</h1>
<div class="buttons">
  <button class="button button-clear icon ion-heart"></button>
  <button class="button button-clear icon ion-social-usd cp-icon" ng-click="openCampaign()"></button>
  <button class="button button-clear icon ion-android-share-alt cp-icon" ng-click="openCampaign()"></button>
</div>
</ion-header-bar>



  <ion-content >
      <img ng-src="{{campaign.story_cover.value}}" style="width: 100%;"alt="" />
      <h3 style="color:black; text-align:center">{{campaign.story_title}}</h3>
      <p style="padding: 20px;
                line-height: 1.5;
                font-size: 1.1em;
                text-align: justify;
            ">{{campaign.story_content}}</p>


      <div class="item item-body" id="donatemodal" style="display:none">
        <img class="full-image" ng-src="{{campaign.story_cover.value}}" style="margin-bottom:10px">
        <input type="button" value="2&#8373" ng-click="donation(2)" style="width: 50px;
                                                                height: 50px;
                                                                background-color: transparent;
                                                                border: 1px dashed lightblue;
                                                                border-radius: 50%;
                                                                color: lightblue;
                                                                font-size: 1.5em;">
        <input type="button" value="10&#8373" ng-click="donation(10)"  style="width: 50px;
                                                                height: 50px;
                                                                background-color: transparent;
                                                                border: 1px dashed lightblue;
                                                                border-radius: 50%;
                                                                color: lightblue;
                                                                font-size: 1.5em;">
        <input type="button" value="20&#8373" ng-click="donation(20)"  style="width: 50px;
                                                                height: 50px;
                                                                background-color: transparent;
                                                                border: 1px dashed lightblue;
                                                                border-radius: 50%;
                                                                color: lightblue;
                                                                font-size: 1.5em;">
      <input type="button" value="50&#8373" ng-click="donation(50)"  style="width: 50px;
                                                              height: 50px;
                                                              background-color: transparent;
                                                              border: 1px dashed lightblue;
                                                              border-radius: 50%;
                                                              color: lightblue;
                                                              font-size: 1.5em;">
        <input type="number" ng-model="donationAmount" style="width: 70px;
                                                                height: 70px;
                                                                background-color: transparent;
                                                                border-bottom: 1px dashed lightblue;
                                                                color: lightblue;
                                                                font-size: 3em;
                                                                text-align: center;
                                                                display: inline-block;
                                                                float: right">

   </div>
   <button class="button button-block button-energized" style="vertical-align:middle;color:#ffffff!important;font-family:montserratregular!important" ng-click="donate()">Donate <span style="font-size: 1.5em" ng-show="donationAmount>0">{{donationAmount | currency: '&#8373': 0}}</span></button>
  </ion-content>

</ion-view>
