
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form id="connectToApi" name="connectToApi" action="http://testpay.vodafonecash.com.gh" method="post">
      <input type="text" name="username" value="511500">
      <input type="text" name="password" value="hackathon2">

      <input type="text" name="token" value="abc1234">

      <input type="text" id="amount" name="amount" value="">

      <button type="submit" name="button">Donate</button>
    </form>

    <script type="text/javascript">
    window.onload = function(){
      document.getElementById('amount').value = location.search.split('amount=')[1]
        // document.getElementById('donate').click()
    }
    </script>
  </body>
</html>
