<ion-view view-title="Interest">


    <ion-header-bar class="bar-calm">
    <div class="buttons">
    </div>
    <h1 class="title">Interest</h1>
  </ion-header-bar>


    <ion-content>
        <div class="item card-item">
            <div ui-sref="app.tab.campaigns" class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap">
                    <strong>Orphans</strong>
                </div>
          </div>
      </div>
        <div class="item card-item">
            <div ui-sref="app.tab.campaigns" class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap">
                    <strong>Bombings</strong>
                </div>
          </div>
      </div>

    </ion-content>
</ion-view>
