<ion-view view-title="Interest">
    <ion-content>
        <div class="item card-item">
            <div ui-sref="app.tab.campaign" class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap">
                    <strong>Orphans</strong>
                </div>
          </div>
      </div>
        <div class="item card-item">
            <div ui-sref="app.tab.campaign" class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap">
                    <strong>Bombings</strong>
                </div>
          </div>
      </div>

    </ion-content>
</ion-view>
