<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Enter</button>
                <h1>doGood</h1>
            </div>
        </div>
        <div class="list">
        </div>
        <div class="padding">
            <button ui-sref="app.interest" class="button button-full button-assertive ink">Login</button>
        </div>
    </ion-content>
</ion-view>
