<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">

                <h1 style="color:#fff">DO GOOD</h1>
            </div>
        </div>
        <div class="list">
        </div>
        <div class="padding" style="margin-top:50%">
            <button ui-sref="app.interest" class="button button-full button-calm ink" style="font-family:montserratregular!important;">Getting Started</button>
        </div>
    </ion-content>
</ion-view>
