<ion-view view-title="ngo" class="profile">
    <ion-content>

        <div class="tabs tabs-light tabs-icon-top static" style="background:#fff">
            <a class="tab-item">
                <h4>ALL</h4>
            </a>
            <a class="tab-item">
              <h4>GHANA</h4>
            </a>
            <a class="tab-item">
              <h4>CAUSES</h4>
            </a>
            <a class="tab-item">
              <h4>NEWS UPDATES</h4>
            </a>
        </div>

        <div class="row">
          <div class="card card-gallery item item-text-wrap col col-offset-10 col-33 pfr-campaign" style="background-image:url('img/sansa-snowcastle3.jpg');height: 150px;">
              <div class="ink dark-bg">
                  <h2>Where's Elsa 1</h2>
              </div>
          </div>

          <div class="card card-gallery item item-text-wrap col col-33 pfr-campaign" style="background-image:url('img/sansa-snowcastle3.jpg');height: 150px;">
              <div class="ink dark-bg">
                  <h2>Where's Elsa 1</h2>
              </div>
          </div>

          <div class="card card-gallery item item-text-wrap col col-33 pfr-campaign" style="background-image:url('img/sansa-snowcastle3.jpg');height: 150px;">
              <div class="ink dark-bg">
                  <h2>Where's Elsa 1</h2>
              </div>
          </div>


        </div>


    </ion-content>
</ion-view>
