<ion-view view-title="ngo" class="ngo">
    <ion-content>
      <div class="tabs tabs-light tabs-icon-top static" style="background:#fff;margin-top:60px;height: 30px;">
          <a class="tab-item">
              <h4>ALL</h4>
          </a>
          <a class="tab-item">
            <h4>FAVORIITES</h4>
          </a>
          
          <a class="tab-item">
            <h4>UPDATES</h4>
          </a>
      </div>

      <ul class="ngo-box" ng-repeat="NGO in NGOs">
        <li class="ngo-box-item">
          <div class="card card-gallery item-text-wrap" style="height:150px;background:url({{NGO.logo.value}}) no-repeat; background-size:contain;background-position:center">
              <div class="ink" style="background-color: rgba(0,0,0,0.3)">
                  <h2 class="ngo-box-text" style="font-size:1em;">{{NGO.title}}</h2>
              </div>
          </div>
        </li>
      </ul>



    </ion-content>
</ion-view>
