<ion-view view-title="Interest">
    <ion-content style="margin-top:10vh">
        <div class="list" style="padding-top:0px">
            <div ui-sref="app.tab.campaign" class="item item-text-wrap ink ink-dark" style="border-bottom: 1px solid #ccc">
                <div class="item-icon-left">
                  <i class="icon ion-chatbubble-working"></i>
                    Donation to Chagua Charity Successful
                </div>
          </div>
      </div>

    </ion-content>
</ion-view>
