<ion-view view-title="Profile" class="profile">
    <ion-content>
        <div class="hero slide-up">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a>Eric Githinji</a></h3>
            </div>
        </div>
        <div class="tabs tabs-light tabs-icon-top static" style="background:#fff">
            <a class="tab-item">
                <h4>$300</h4>
                <h5>Donated</h5>
            </a>
            <a class="tab-item">
              <h4>20</h4>
              <h5>Campaigns</h5>
            </a>
            <a class="tab-item">
              <h4>3</h4>
              <h5>NGO's</h5>
            </a>
        </div>

        <div class="row">
          <div class="card card-gallery item item-text-wrap col col-offset-10 col-33" style="background-image:url('img/sansa-snowcastle3.jpg');height: 150px;">
              <div class="ink dark-bg">
                  <h2>Where's Elsa 1</h2>
              </div>
          </div>

          <div class="card card-gallery item item-text-wrap col col-33" style="background-image:url('img/sansa-snowcastle3.jpg');height: 150px;">
              <div class="ink dark-bg">
                  <h2>Where's Elsa 1</h2>
              </div>
          </div>

          <div class="card card-gallery item item-text-wrap col col-33" style="background-image:url('img/sansa-snowcastle3.jpg');height: 150px;">
              <div class="ink dark-bg">
                  <h2>Where's Elsa 1</h2>
              </div>
          </div>


        </div>


    </ion-content>
</ion-view>
