    <ion-tabs class="tabs-dark tabs-color-active-positive static">

      <!-- Campaign Tab -->
      <ion-tab icon-off="ion-ios-barcode-outline" icon-on="ion-ios-barcode" ui-sref="app.tab.campaign">
        <ion-nav-view name="campaign "></ion-nav-view>
      </ion-tab>

      <!-- NGO Tab -->
      <ion-tab icon-off="ion-android-apps" icon-on="ion-android-apps" ui-sref="app.tab.ngo">
        <ion-nav-view name="ngo"></ion-nav-view>
      </ion-tab>

      <!-- Geo Campaign Tab -->
      <ion-tab icon-off="ion-android-map" icon-on="ion-android-locate" ui-sref="app.tab.geoCampaign">
        <ion-nav-view name="geoCampaign"></ion-nav-view>
      </ion-tab>

      <!-- Notification Tab -->
      <ion-tab icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="app.tab.notification">
        <ion-nav-view name="notification"></ion-nav-view>
      </ion-tab>

      <!--Profile Tab -->
      <ion-tab icon-off="ion-android-person" icon-on="ion-android-person" ui-sref="app.tab.profile">
        <ion-nav-view name="profile"></ion-nav-view>
      </ion-tab>


    </ion-tabs>
