@font-face {
    font-family: Futura;
    src: url(futura.ttf);
}
/*Try it yourself »*/

/* General
==================================*/
body {
  font-family: Futura !important;
}

h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
    font-family: Futura !important;
}

h1,h2,h3,h4,h5,h6,body{
  font-family: montserratblack;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
    font-family: Futura !important;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 0px;
  }
.topm {
  margin-top: 44px;
}

.has-tabs-top {
    top: 0px;
}

.ngo .tabs h4,.profile .tabs h4{
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 4px;
    color: #026E7B;
}

.ngo .tabs h5,.profile .tabs h5{
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 4px;
    color: #7D7C7C;
}

.profile .row .card {
    margin: 1px;
  }

  .prf-icon{
    margin-top: 60px;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #7C7474;
    z-index: 50;
  }

  .profile .right {
    right: 5px;
    z-index: 1;
  }



.pfr-campaign{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile .tabs-striped .tabs {
    box-shadow: 0 0 0 0 rgba(0,0,0,.26);
}

.ngo-box-text{
  margin: 5px!important;
  color: #fff;
  text-decoration-style: solid;
}

.ngo-box{
  display:block;
  text-decoration:none;
}

.ngo-box-item{
   display:inline-block;
   float:left;
   height: 150px;
   width: 48%;
   margin: 1%;
}

.prf-box{
  display:block;
  text-decoration:none;
}

.prf-box-item{
   display:inline-block;
   float:left;
   height: 150px;
   width: 48%;
}

.campaign .item h2 {
  white-space: normal;
  font-family: Futura;
  font-size: 7vh;
  margin: 0;
  widows: 100%;
  color: #000;
}

.campaign .item h2 p {
  white-space: normal;
  font-size: 3vh;
  line-height: 4vh;
}



.cp-title{
  position:absolute;
  top: 55%;
  left: 0;
  width: 100%;
}


.cp-overlay{
  color: white;
  letter-spacing: -1px;
  /*background: rgb(0, 0, 0); /* fallback color
  background: rgba(0, 0, 0, 0.7);*/
  background: #fff;
  padding: 10px;
}

.button-energized{
    border-color: #676666!important;
    background-color: transparent;
    color: #676666!important;
    font-size: 3vh;
}

.cp-btn-container{
  display:block;
  text-decoration:none;
  margin-top:5%;
}

.cp-btn{
   display:inline-block;
   float:left;
   height: 150px;
   width: 48%;
   margin: 1%;
}

.campaign .item {
  padding: 0px;
}

.cp-img-cover{
height:100vh;
background-size:cover!important;
background-position:center;
position: relative;
width: 100%;
}

.item-note {
    float: none;
    color: #0B94BB;
    font-size: 14px;
    display: block;
}
